<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">

    <title></title>
</head>
<body>
<div th:replace="fragments :: page-header"></div>

<form method="post" style="max-width:600px;">
<!--    <div class="form-group">-->
<!--        <label th:for="name">Step Order</label>-->
<!--        <input class="form-control" th:field="${step.stepOrder}" />-->
<!--        <span th:errors="${step.stepOrder}" class="error"></span>-->
<!--    </div>-->

    <div class="form-group">
        <label th:for="location">Step Description</label>
        <input class="form-control" th:field="${step.description}" />
        <span th:errors="${step.description}" class="error"></span>
    </div>

    <table>

        <tr>
            <th>Order</th>
            <th>Description</th>
        </tr>

        <tr th:each="step : ${recipeSteps}">
            <td th:text=" ${step.stepOrder}">

            </td>

            <td th:text=" ${step.description}">

            </td>




        </tr>

    </table>

    <input type="submit" value="Add Step" />
    <a th:href="@{'../../view/' + ${recipeId}}">Finish Recipe</a>
</form>
</body>
</html>