<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<style>
* {
  box-sizing: border-box;
}

.row {
  margin-left:-5px;
  margin-right:-5px;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
</style>

<head th:replace="fragments :: head"> </head>





<body class="p-3 mb-2 bg-light text-dark">

<div th:replace="fragments :: page-header"></div>

<table>

    <tr>
        <th>Recently Viewed Recipes</th>

    </tr>

    <tr th:each="recipe : ${recentlyViewedRecipes}">
        <td >
            <h4><a th:href="@{'view/' + ${recipe.id}}" th:text=" ${recipe.name}"></a></h4>
            <img th:src="@{${recipe.photosImagePath}}" style="width:500px;height:400px;"/>



        </td>

    </tr>

</table>

<table>

    <tr>
        <th>Most Popular</th>
    </tr>

    <tr th:each="recipe : ${mostPopular}">
        <td >
            <h4><a th:href="@{'view/' + ${recipe.id}}" th:text=" ${recipe.name}"></a></h4>
            <img th:src="@{${recipe.photosImagePath}}" style="width:500px;height:400px;"/>



        </td>

    </tr>

</table>

<div>
    <h3>Featured Recipe</h3>
    <h4><a th:href="@{'view/' + ${featuredRecipe.id}}" th:text=" ${featuredRecipe.name}"></a></h4>
    <img th:src="@{${featuredRecipe.photosImagePath}}" style="width:500px;height:400px;"/>

</div>


</body>
</html>