<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">


<head th:replace="fragments :: head"> </head>
<link th:href="@{/styles/index.css}" rel="stylesheet" />





<body class="p-3 mb-2 bg-light text-dark">

<div th:replace="fragments :: page-header"></div>

<div class="container">

    <div class="item">

<table>

    <tr>
        <th>Recently Viewed Recipes</th>

    </tr>

    <tr th:each="recipe : ${recentlyViewedRecipes}">
        <td >
            <h4><a th:href="@{'view/' + ${recipe.id}}" th:text=" ${recipe.name}"></a></h4>
            <img th:src="@{${recipe.photosImagePath}}" style="width:500px;height:400px;"/>



        </td>

    </tr>

</table>
    </div>


    <div class="item">
<table>

    <tr>
        <th>Most Popular</th>
    </tr>

    <tr th:each="recipe : ${mostPopular}">
        <td >
            <h4><a th:href="@{'view/' + ${recipe.id}}" th:text=" ${recipe.name}"></a></h4>
            <img th:src="@{${recipe.photosImagePath}}" style="width:500px;height:400px;"/>



        </td>

    </tr>

</table>
    </div>

    <div class="largeitem">

<div>
    <h3>Featured Recipe</h3>
    <h4><a th:href="@{'view/' + ${featuredRecipe.id}}" th:text=" ${featuredRecipe.name}"></a></h4>
    <img th:src="@{${featuredRecipe.photosImagePath}}" style="width:500px;height:400px;"/>



</div>

    </div>

</div>

</body>
</html>