<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />    <title></title>
</head>
<body>

<div th:replace="fragments :: page-header"></div>


<div class="container body-content">


    <table class="recipes">

        <tr  th:each="recipe : ${recipes}">
            <td>


                <h3 th:text="${recipe.name}"></h3>
                <h4 th:text="${recipe.user}"></h4>
                <img th:src="@{${recipe.photosImagePath}}" style="width:500px;height:400px;"/>
                <p th:text="${recipe.description}"></p>
                <a th:href="@{'../../view/' + ${recipe.id}}">More</a>

            </td>
        </tr>

    </table>


</div>

</body>

</html>